In [1]:
import pandas as pd

In [2]:
#loading the csvss file in here
df=pd.read_csv(r"C:\Users\user\Desktop\pandas\pokemon_data.csv")

In [3]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
104,96,Drowzee,Psychic,NaN,60,48,45,43,90,42,1,False
105,97,Hypno,Psychic,NaN,85,73,70,73,115,67,1,False
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
107,99,Kingler,Water,NaN,55,130,115,50,50,75,1,False
108,100,Voltorb,Electric,NaN,40,30,50,55,55,100,1,False

In [4]:
#reading the data 
#FIRST OF ALLL
#read headers
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
#read each column
print(df["Name"])

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
104                  Drowzee
105                    Hypno
106                   Krabby
107                  Kingler
108                  Voltorb
Name: Name, Length: 109, dtype: object

In [6]:
#read each row 
print(df.head(5)) #with head also can use df.iloc()

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [7]:
#read a specific location 
print(df.iloc[3,4])

80

In [8]:
#to iterate through each row
for index, row in df.iterrows():
    print(index,row)

0 #                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object
1 #                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
2 #                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object
3 #                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object
4 #                      4
Name          Charmander
Type 1              Fire
Type 2               NaN
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object
5 #                      5
Name          Charmeleon
Type 1              Fire
Type 2               NaN
HP                    58
Attack                64
Defense               58
Sp. Atk               80
Sp. Def               65
Speed                 80
Generation             1
Legendary          False
Name: 5, dtype: object
6 #                     6
Name          Charizard
Type 1             Fire
Type 2           Flying
HP                   78
Attack               84
Defense              78
Sp. Atk             109
Sp. Def              85
Speed               100
Generation            1
Legendary         False
Name: 6, dtype: object
7 #                                     6
Name          CharizardMega Charizard X
Type 1                             Fire
Type 2                           Dragon
HP                                   78
Attack                              130
Defense                             111
Sp. Atk                             130
Sp. Def                              85
Speed                               100
Generation                            1
Legendary                         False
Name: 7, dtype: object
8 #                                     6
Name          CharizardMega Charizard Y
Type 1                             Fire
Type 2                           Flying
HP                                   78
Attack                              104
Defense                              78
Sp. Atk                             159
Sp. Def                             115
Speed                               100
Generation                            1
Legendary                         False
Name: 8, dtype: object
9 #                    7
Name          Squirtle
Type 1           Water
Type 2             NaN
HP                  44
Attack              48
Defense             65
Sp. Atk             50
Sp. Def             64
Speed               43
Generation           1
Legendary        False
Name: 9, dtype: object
10 #                     8
Name          Wartortle
Type 1            Water
Type 2              NaN
HP                   59
Attack               63
Defense              80
Sp. Atk              65
Sp. Def              80
Speed                58
Generation            1
Legendary         False
Name: 10, dtype: object
11 #                     9
Name          Blastoise
Type 1            Water
Type 2              NaN
HP                   79
Attack               83
Defense             100
Sp. Atk              85
Sp. Def             105
Speed                78
Generation            1
Legendary         False
Name: 11, dtype: object
12 #                                   9
Name          BlastoiseMega Blastoise
Type 1                          Water
Type 2                            NaN
HP                                 79
Attack                            103
Defense                           120
Sp. Atk                           135
Sp. Def                           115
Speed                              78
Generation                          1
Legendary                       False
Name: 12, dtype: object
13 #                   10
Name          Caterpie
Type 1             Bug
Type 2             NaN
HP                  45
Attack              30
Defense             35
Sp. Atk             20
Sp. Def             20
Speed               45
Generation           1
Legendary        False
Name: 13, dtype: object
14 #                  11
Name          Metapod
Type 1            Bug
Type 2            NaN
HP                 50
Attack             20
Defense            55
Sp. Atk            25
Sp. Def            25
Speed              30
Generation          1
Legendary       False
Name: 14, dtype: object
15 #                     12
Name          Butterfree
Type 1               Bug
Type 2            Flying
HP                    60
Attack                45
Defense               50
Sp. Atk               90
Sp. Def               80
Speed                 70
Generation             1
Legendary          False
Name: 15, dtype: object
16 #                 13
Name          Weedle
Type 1           Bug
Type 2        Poison
HP                40
Attack            35
Defense           30
Sp. Atk           20
Sp. Def           20
Speed             50
Generation         1
Legendary      False
Name: 16, dtype: object
17 #                 14
Name          Kakuna
Type 1           Bug
Type 2        Poison
HP                45
Attack            25
Defense           50
Sp. Atk           25
Sp. Def           25
Speed             35
Generation         1
Legendary      False
Name: 17, dtype: object
18 #                   15
Name          Beedrill
Type 1             Bug
Type 2          Poison
HP                  65
Attack              90
Defense             40
Sp. Atk             45
Sp. Def             80
Speed               75
Generation           1
Legendary        False
Name: 18, dtype: object
19 #                                15
Name          BeedrillMega Beedrill
Type 1                          Bug
Type 2                       Poison
HP                               65
Attack                          150
Defense                          40
Sp. Atk                          15
Sp. Def                          80
Speed                           145
Generation                        1
Legendary                     False
Name: 19, dtype: object
20 #                 16
Name          Pidgey
Type 1        Normal
Type 2        Flying
HP                40
Attack            45
Defense           40
Sp. Atk           35
Sp. Def           35
Speed             56
Generation         1
Legendary      False
Name: 20, dtype: object
21 #                    17
Name          Pidgeotto
Type 1           Normal
Type 2           Flying
HP                   63
Attack               60
Defense              55
Sp. Atk              50
Sp. Def              50
Speed                71
Generation            1
Legendary         False
Name: 21, dtype: object
22 #                  18
Name          Pidgeot
Type 1         Normal
Type 2         Flying
HP                 83
Attack             80
Defense            75
Sp. Atk            70
Sp. Def            70
Speed             101
Generation          1
Legendary       False
Name: 22, dtype: object
23 #                              18
Name          PidgeotMega Pidgeot
Type 1                     Normal
Type 2                     Flying
HP                             83
Attack                         80
Defense                        80
Sp. Atk                       135
Sp. Def                        80
Speed                         121
Generation                      1
Legendary                   False
Name: 23, dtype: object
24 #                  19
Name          Rattata
Type 1         Normal
Type 2            NaN
HP                 30
Attack             56
Defense            35
Sp. Atk            25
Sp. Def            35
Speed              72
Generation          1
Legendary       False
Name: 24, dtype: object
25 #                   20
Name          Raticate
Type 1          Normal
Type 2             NaN
HP                  55
Attack              81
Defense             60
Sp. Atk             50
Sp. Def             70
Speed               97
Generation           1
Legendary        False
Name: 25, dtype: object
26 #                  21
Name          Spearow
Type 1         Normal
Type 2         Flying
HP                 40
Attack             60
Defense            30
Sp. Atk            31
Sp. Def            31
Speed              70
Generation          1
Legendary       False
Name: 26, dtype: object
27 #                 22
Name          Fearow
Type 1        Normal
Type 2        Flying
HP                65
Attack            90
Defense           65
Sp. Atk           61
Sp. Def           61
Speed            100
Generation         1
Legendary      False
Name: 27, dtype: object
28 #                 23
Name           Ekans
Type 1        Poison
Type 2           NaN
HP                35
Attack            60
Defense           44
Sp. Atk           40
Sp. Def           54
Speed             55
Generation         1
Legendary      False
Name: 28, dtype: object
29 #                 24
Name           Arbok
Type 1        Poison
Type 2           NaN
HP                60
Attack            85
Defense           69
Sp. Atk           65
Sp. Def           79
Speed             80
Generation         1
Legendary      False
Name: 29, dtype: object
30 #                   25
Name           Pikachu
Type 1        Electric
Type 2             NaN
HP                  35
Attack              55
Defense             40
Sp. Atk             50
Sp. Def             50
Speed               90
Generation           1
Legendary        False
Name: 30, dtype: object
31 #                   26
Name            Raichu
Type 1        Electric
Type 2             NaN
HP                  60
Attack              90
Defense             55
Sp. Atk             90
Sp. Def             80
Speed              110
Generation           1
Legendary        False
Name: 31, dtype: object
32 #                    27
Name          Sandshrew
Type 1           Ground
Type 2              NaN
HP                   50
Attack               75
Defense              85
Sp. Atk              20
Sp. Def              30
Speed                40
Generation            1
Legendary         False
Name: 32, dtype: object
33 #                    28
Name          Sandslash
Type 1           Ground
Type 2              NaN
HP                   75
Attack              100
Defense             110
Sp. Atk              45
Sp. Def              55
Speed                65
Generation            1
Legendary         False
Name: 33, dtype: object
34 #                           29
Name          Nidoran (Female)
Type 1                  Poison
Type 2                     NaN
HP                          55
Attack                      47
Defense                     52
Sp. Atk                     40
Sp. Def                     40
Speed                       41
Generation                   1
Legendary                False
Name: 34, dtype: object
35 #                   30
Name          Nidorina
Type 1          Poison
Type 2             NaN
HP                  70
Attack              62
Defense             67
Sp. Atk             55
Sp. Def             55
Speed               56
Generation           1
Legendary        False
Name: 35, dtype: object
36 #                    31
Name          Nidoqueen
Type 1           Poison
Type 2           Ground
HP                   90
Attack               92
Defense              87
Sp. Atk              75
Sp. Def              85
Speed                76
Generation            1
Legendary         False
Name: 36, dtype: object
37 #                         32
Name          Nidoran (Male)
Type 1                Poison
Type 2                   NaN
HP                        46
Attack                    57
Defense                   40
Sp. Atk                   40
Sp. Def                   40
Speed                     50
Generation                 1
Legendary              False
Name: 37, dtype: object
38 #                   33
Name          Nidorino
Type 1          Poison
Type 2             NaN
HP                  61
Attack              72
Defense             57
Sp. Atk             55
Sp. Def             55
Speed               65
Generation           1
Legendary        False
Name: 38, dtype: object
39 #                   34
Name          Nidoking
Type 1          Poison
Type 2          Ground
HP                  81
Attack             102
Defense             77
Sp. Atk             85
Sp. Def             75
Speed               85
Generation           1
Legendary        False
Name: 39, dtype: object
40 #                   35
Name          Clefairy
Type 1           Fairy
Type 2             NaN
HP                  70
Attack              45
Defense             48
Sp. Atk             60
Sp. Def             65
Speed               35
Generation           1
Legendary        False
Name: 40, dtype: object
41 #                   36
Name          Clefable
Type 1           Fairy
Type 2             NaN
HP                  95
Attack              70
Defense             73
Sp. Atk             95
Sp. Def             90
Speed               60
Generation           1
Legendary        False
Name: 41, dtype: object
42 #                 37
Name          Vulpix
Type 1          Fire
Type 2           NaN
HP                38
Attack            41
Defense           40
Sp. Atk           50
Sp. Def           65
Speed             65
Generation         1
Legendary      False
Name: 42, dtype: object
43 #                    38
Name          Ninetales
Type 1             Fire
Type 2              NaN
HP                   73
Attack               76
Defense              75
Sp. Atk              81
Sp. Def             100
Speed               100
Generation            1
Legendary         False
Name: 43, dtype: object
44 #                     39
Name          Jigglypuff
Type 1            Normal
Type 2             Fairy
HP                   115
Attack                45
Defense               20
Sp. Atk               45
Sp. Def               25
Speed                 20
Generation             1
Legendary          False
Name: 44, dtype: object
45 #                     40
Name          Wigglytuff
Type 1            Normal
Type 2             Fairy
HP                   140
Attack                70
Defense               45
Sp. Atk               85
Sp. Def               50
Speed                 45
Generation             1
Legendary          False
Name: 45, dtype: object
46 #                 41
Name           Zubat
Type 1        Poison
Type 2        Flying
HP                40
Attack            45
Defense           35
Sp. Atk           30
Sp. Def           40
Speed             55
Generation         1
Legendary      False
Name: 46, dtype: object
47 #                 42
Name          Golbat
Type 1        Poison
Type 2        Flying
HP                75
Attack            80
Defense           70
Sp. Atk           65
Sp. Def           75
Speed             90
Generation         1
Legendary      False
Name: 47, dtype: object
48 #                 43
Name          Oddish
Type 1         Grass
Type 2        Poison
HP                45
Attack            50
Defense           55
Sp. Atk           75
Sp. Def           65
Speed             30
Generation         1
Legendary      False
Name: 48, dtype: object
49 #                 44
Name           Gloom
Type 1         Grass
Type 2        Poison
HP                60
Attack            65
Defense           70
Sp. Atk           85
Sp. Def           75
Speed             40
Generation         1
Legendary      False
Name: 49, dtype: object
50 #                    45
Name          Vileplume
Type 1            Grass
Type 2           Poison
HP                   75
Attack               80
Defense              85
Sp. Atk             110
Sp. Def              90
Speed                50
Generation            1
Legendary         False
Name: 50, dtype: object
51 #                46
Name          Paras
Type 1          Bug
Type 2        Grass
HP               35
Attack           70
Defense          55
Sp. Atk          45
Sp. Def          55
Speed            25
Generation        1
Legendary     False
Name: 51, dtype: object
52 #                   47
Name          Parasect
Type 1             Bug
Type 2           Grass
HP                  60
Attack              95
Defense             80
Sp. Atk             60
Sp. Def             80
Speed               30
Generation           1
Legendary        False
Name: 52, dtype: object
53 #                  48
Name          Venonat
Type 1            Bug
Type 2         Poison
HP                 60
Attack             55
Defense            50
Sp. Atk            40
Sp. Def            55
Speed              45
Generation          1
Legendary       False
Name: 53, dtype: object
54 #                   49
Name          Venomoth
Type 1             Bug
Type 2          Poison
HP                  70
Attack              65
Defense             60
Sp. Atk             90
Sp. Def             75
Speed               90
Generation           1
Legendary        False
Name: 54, dtype: object
55 #                  50
Name          Diglett
Type 1         Ground
Type 2            NaN
HP                 10
Attack             55
Defense            25
Sp. Atk            35
Sp. Def            45
Speed              95
Generation          1
Legendary       False
Name: 55, dtype: object
56 #                  51
Name          Dugtrio
Type 1         Ground
Type 2            NaN
HP                 35
Attack             80
Defense            50
Sp. Atk            50
Sp. Def            70
Speed             120
Generation          1
Legendary       False
Name: 56, dtype: object
57 #                 52
Name          Meowth
Type 1        Normal
Type 2           NaN
HP                40
Attack            45
Defense           35
Sp. Atk           40
Sp. Def           40
Speed             90
Generation         1
Legendary      False
Name: 57, dtype: object
58 #                  53
Name          Persian
Type 1         Normal
Type 2            NaN
HP                 65
Attack             70
Defense            60
Sp. Atk            65
Sp. Def            65
Speed             115
Generation          1
Legendary       False
Name: 58, dtype: object
59 #                  54
Name          Psyduck
Type 1          Water
Type 2            NaN
HP                 50
Attack             52
Defense            48
Sp. Atk            65
Sp. Def            50
Speed              55
Generation          1
Legendary       False
Name: 59, dtype: object
60 #                  55
Name          Golduck
Type 1          Water
Type 2            NaN
HP                 80
Attack             82
Defense            78
Sp. Atk            95
Sp. Def            80
Speed              85
Generation          1
Legendary       False
Name: 60, dtype: object
61 #                   56
Name            Mankey
Type 1        Fighting
Type 2             NaN
HP                  40
Attack              80
Defense             35
Sp. Atk             35
Sp. Def             45
Speed               70
Generation           1
Legendary        False
Name: 61, dtype: object
62 #                   57
Name          Primeape
Type 1        Fighting
Type 2             NaN
HP                  65
Attack             105
Defense             60
Sp. Atk             60
Sp. Def             70
Speed               95

In [9]:
#using loc to get based on some condition 
df.loc[df['Type 1']=="Fire"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False

In [10]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.0
mean,49.045872,60.752294,71.376147,66.064220,68.917431,64.412844,69.743119,1.0
std,29.864318,21.323416,25.431385,29.890936,34.034059,23.995837,28.345881,0.0
min,1.000000,10.000000,20.000000,15.000000,15.000000,20.000000,15.000000,1.0
25%,22.000000,45.000000,50.000000,45.000000,45.000000,45.000000,45.000000,1.0
50%,49.000000,60.000000,70.000000,60.000000,65.000000,65.000000,70.000000,1.0
75%,75.000000,78.000000,85.000000,80.000000,85.000000,80.000000,90.000000,1.0
max,100.000000,140.000000,150.000000,180.000000,175.000000,120.000000,150.000000,1.0

In [11]:
#SORTING N DESCRIBING DATA
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
70,65,Alakazam,Psychic,NaN,55,50,45,135,95,120,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
29,24,Arbok,Poison,NaN,60,85,69,65,79,80,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
45,40,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False

In [12]:
#more specificly
df.sort_values(["Type 1","HP"])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
51,46,Paras,Bug,Grass,35,70,55,45,55,25,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
67,62,Poliwrath,Water,Fighting,90,95,95,70,90,70,1,False
85,79,Slowpoke,Water,Psychic,90,65,65,40,40,15,1,False
94,87,Dewgong,Water,Ice,90,70,80,70,95,70,1,False
86,80,Slowbro,Water,Psychic,95,75,110,100,80,30,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False

In [13]:
#MAKING CHANGES TO DATA 
#If i want a one column with all these stats ..to get which pokemon is more powerful we gonna do
df["total"]=df["HP"]+df["Sp. Def"]+df["Sp. Atk"]+df["Speed"] +df["Defense"]
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,269
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,343
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,443
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,96,Drowzee,Psychic,NaN,60,48,45,43,90,42,1,False,280
105,97,Hypno,Psychic,NaN,85,73,70,73,115,67,1,False,410
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False,220
107,99,Kingler,Water,NaN,55,130,115,50,50,75,1,False,345
108,100,Voltorb,Electric,NaN,40,30,50,55,55,100,1,False,300

In [14]:
#if you wanna delete some columns 
df=df.drop(columns=['total','HP','Generation'])
df

,#,Name,Type 1,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,Poison,49,49,65,65,45,False
1,2,Ivysaur,Grass,Poison,62,63,80,80,60,False
2,3,Venusaur,Grass,Poison,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,Poison,100,123,122,120,80,False
4,4,Charmander,Fire,NaN,52,43,60,50,65,False
...,...,...,...,...,...,...,...,...,...,...
104,96,Drowzee,Psychic,NaN,48,45,43,90,42,False
105,97,Hypno,Psychic,NaN,73,70,73,115,67,False
106,98,Krabby,Water,NaN,105,90,25,25,50,False
107,99,Kingler,Water,NaN,130,115,50,50,75,False
108,100,Voltorb,Electric,NaN,30,50,55,55,100,False

In [15]:
#Another way to do total
df["total"]=df.iloc[:,4:10].sum(axis=1)
df

,#,Name,Type 1,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,total
0,1,Bulbasaur,Grass,Poison,49,49,65,65,45,False,273.0
1,2,Ivysaur,Grass,Poison,62,63,80,80,60,False,345.0
2,3,Venusaur,Grass,Poison,82,83,100,100,80,False,445.0
3,3,VenusaurMega Venusaur,Grass,Poison,100,123,122,120,80,False,545.0
4,4,Charmander,Fire,NaN,52,43,60,50,65,False,270.0
...,...,...,...,...,...,...,...,...,...,...,...
104,96,Drowzee,Psychic,NaN,48,45,43,90,42,False,268.0
105,97,Hypno,Psychic,NaN,73,70,73,115,67,False,398.0
106,98,Krabby,Water,NaN,105,90,25,25,50,False,295.0
107,99,Kingler,Water,NaN,130,115,50,50,75,False,420.0
108,100,Voltorb,Electric,NaN,30,50,55,55,100,False,290.0

In [16]:
#to chnage position of columns 
cols=list(df.columns.values)
df= df[cols[0:3]+[cols[-1]]+cols[3:10]]
df

,#,Name,Type 1,total,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,273.0,Poison,49,49,65,65,45,False
1,2,Ivysaur,Grass,345.0,Poison,62,63,80,80,60,False
2,3,Venusaur,Grass,445.0,Poison,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,545.0,Poison,100,123,122,120,80,False
4,4,Charmander,Fire,270.0,NaN,52,43,60,50,65,False
...,...,...,...,...,...,...,...,...,...,...,...
104,96,Drowzee,Psychic,268.0,NaN,48,45,43,90,42,False
105,97,Hypno,Psychic,398.0,NaN,73,70,73,115,67,False
106,98,Krabby,Water,295.0,NaN,105,90,25,25,50,False
107,99,Kingler,Water,420.0,NaN,130,115,50,50,75,False
108,100,Voltorb,Electric,290.0,NaN,30,50,55,55,100,False

In [17]:
df

,#,Name,Type 1,total,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,273.0,Poison,49,49,65,65,45,False
1,2,Ivysaur,Grass,345.0,Poison,62,63,80,80,60,False
2,3,Venusaur,Grass,445.0,Poison,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,545.0,Poison,100,123,122,120,80,False
4,4,Charmander,Fire,270.0,NaN,52,43,60,50,65,False
...,...,...,...,...,...,...,...,...,...,...,...
104,96,Drowzee,Psychic,268.0,NaN,48,45,43,90,42,False
105,97,Hypno,Psychic,398.0,NaN,73,70,73,115,67,False
106,98,Krabby,Water,295.0,NaN,105,90,25,25,50,False
107,99,Kingler,Water,420.0,NaN,130,115,50,50,75,False
108,100,Voltorb,Electric,290.0,NaN,30,50,55,55,100,False

In [18]:
#FILTERING DATA
df.loc[df["Type 1"]=="Grass"]

,#,Name,Type 1,total,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,273.0,Poison,49,49,65,65,45,False
1,2,Ivysaur,Grass,345.0,Poison,62,63,80,80,60,False
2,3,Venusaur,Grass,445.0,Poison,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,545.0,Poison,100,123,122,120,80,False
48,43,Oddish,Grass,275.0,Poison,50,55,75,65,30,False
49,44,Gloom,Grass,335.0,Poison,65,70,85,75,40,False
50,45,Vileplume,Grass,415.0,Poison,80,85,110,90,50,False
75,69,Bellsprout,Grass,250.0,Poison,75,35,70,30,40,False
76,70,Weepinbell,Grass,325.0,Poison,90,50,85,45,55,False
77,71,Victreebel,Grass,410.0,Poison,105,65,100,70,70,False

In [19]:
#GIVING MULTIPLE FILTERS
df.loc[(df["Type 1"]=="Grass") & (df["Type 2"]=="Poison")]  # can also do "OR"

,#,Name,Type 1,total,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,273.0,Poison,49,49,65,65,45,False
1,2,Ivysaur,Grass,345.0,Poison,62,63,80,80,60,False
2,3,Venusaur,Grass,445.0,Poison,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,545.0,Poison,100,123,122,120,80,False
48,43,Oddish,Grass,275.0,Poison,50,55,75,65,30,False
49,44,Gloom,Grass,335.0,Poison,65,70,85,75,40,False
50,45,Vileplume,Grass,415.0,Poison,80,85,110,90,50,False
75,69,Bellsprout,Grass,250.0,Poison,75,35,70,30,40,False
76,70,Weepinbell,Grass,325.0,Poison,90,50,85,45,55,False
77,71,Victreebel,Grass,410.0,Poison,105,65,100,70,70,False

In [20]:
#if i want all pokemon with total greater than 300
df.loc[(df["total"]>=300)]

,#,Name,Type 1,total,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
1,2,Ivysaur,Grass,345.0,Poison,62,63,80,80,60,False
2,3,Venusaur,Grass,445.0,Poison,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,545.0,Poison,100,123,122,120,80,False
5,5,Charmeleon,Fire,347.0,NaN,64,58,80,65,80,False
6,6,Charizard,Fire,456.0,Flying,84,78,109,85,100,False
...,...,...,...,...,...,...,...,...,...,...,...
101,94,Gengar,Ghost,440.0,Poison,65,60,130,75,110,False
102,94,GengarMega Gengar,Ghost,540.0,Poison,65,80,170,95,130,False
103,95,Onix,Rock,350.0,Ground,45,160,30,45,70,False
105,97,Hypno,Psychic,398.0,NaN,73,70,73,115,67,False
107,99,Kingler,Water,420.0,NaN,130,115,50,50,75,False

In [21]:
#some more conditions
df.loc[(df["Type 1"]=="Grass") & (df["Type 2"]=="Poison") & (df["Defense"]>80)]

,#,Name,Type 1,total,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
2,3,Venusaur,Grass,445.0,Poison,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,545.0,Poison,100,123,122,120,80,False
50,45,Vileplume,Grass,415.0,Poison,80,85,110,90,50,False

In [22]:
#FILTERATION BASED ON TEXTUAL PATTRENS
df.loc[df["Name"].str.contains('saur')]

,#,Name,Type 1,total,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,273.0,Poison,49,49,65,65,45,False
1,2,Ivysaur,Grass,345.0,Poison,62,63,80,80,60,False
2,3,Venusaur,Grass,445.0,Poison,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,545.0,Poison,100,123,122,120,80,False

In [23]:
#CONDITIONAL CHANGES
#I want flamer instaed of fire in type 1
df.loc[df["Type 1"]=="Fire","Type 1"]="Flamer"
df

,#,Name,Type 1,total,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,273.0,Poison,49,49,65,65,45,False
1,2,Ivysaur,Grass,345.0,Poison,62,63,80,80,60,False
2,3,Venusaur,Grass,445.0,Poison,82,83,100,100,80,False
3,3,VenusaurMega Venusaur,Grass,545.0,Poison,100,123,122,120,80,False
4,4,Charmander,Flamer,270.0,NaN,52,43,60,50,65,False
...,...,...,...,...,...,...,...,...,...,...,...
104,96,Drowzee,Psychic,268.0,NaN,48,45,43,90,42,False
105,97,Hypno,Psychic,398.0,NaN,73,70,73,115,67,False
106,98,Krabby,Water,295.0,NaN,105,90,25,25,50,False
107,99,Kingler,Water,420.0,NaN,130,115,50,50,75,False
108,100,Voltorb,Electric,290.0,NaN,30,50,55,55,100,False

In [24]:
df.loc[df["total"]>300,"Legendary"]="GOOD"
df

,#,Name,Type 1,total,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,273.0,Poison,49,49,65,65,45,False
1,2,Ivysaur,Grass,345.0,Poison,62,63,80,80,60,GOOD
2,3,Venusaur,Grass,445.0,Poison,82,83,100,100,80,GOOD
3,3,VenusaurMega Venusaur,Grass,545.0,Poison,100,123,122,120,80,GOOD
4,4,Charmander,Flamer,270.0,NaN,52,43,60,50,65,False
...,...,...,...,...,...,...,...,...,...,...,...
104,96,Drowzee,Psychic,268.0,NaN,48,45,43,90,42,False
105,97,Hypno,Psychic,398.0,NaN,73,70,73,115,67,GOOD
106,98,Krabby,Water,295.0,NaN,105,90,25,25,50,False
107,99,Kingler,Water,420.0,NaN,130,115,50,50,75,GOOD
108,100,Voltorb,Electric,290.0,NaN,30,50,55,55,100,False

In [25]:
#AGGREGATE STATISTICS (GROUP BY)
df.groupby(["Type 1"]).mean()

,#,total,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Bug,25.454545,266.818182,61.818182,49.545455,43.181818,54.090909,58.181818
Electric,62.800000,343.000000,54.000000,62.000000,82.000000,62.000000,83.000000
Fairy,35.500000,320.500000,57.500000,60.500000,77.500000,77.500000,47.500000
Fighting,62.800000,326.000000,99.000000,59.000000,49.000000,59.000000,60.000000
Flamer,34.000000,403.000000,83.272727,66.636364,89.454545,76.363636,87.272727
Ghost,93.250000,405.000000,53.750000,53.750000,128.750000,65.000000,103.750000
Grass,35.100000,361.800000,75.800000,67.800000,89.200000,74.000000,55.000000
Ground,39.000000,312.500000,77.500000,67.500000,37.500000,50.000000,80.000000
Normal,39.133333,307.933333,69.466667,51.333333,56.333333,51.266667,79.533333
Poison,41.333333,311.750000,73.916667,60.250000,54.583333,62.333333,60.666667
Psychic,75.000000,381.833333,46.000000,45.000000,108.500000,86.666667,95.666667
Rock,80.000000,340.000000,85.000000,126.250000,40.000000,46.250000,42.500000
Water,63.000000,363.150000,73.800000,88.300000,68.750000,70.200000,62.100000

In [26]:
#if i want to count
df.groupby(["Type 1"]).count()

,#,Name,total,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
Type 1,,,,,,,,,,
Bug,11,11,11,9,11,11,11,11,11,11
Electric,5,5,5,2,5,5,5,5,5,5
Fairy,2,2,2,0,2,2,2,2,2,2
Fighting,5,5,5,0,5,5,5,5,5,5
Flamer,11,11,11,3,11,11,11,11,11,11
Ghost,4,4,4,4,4,4,4,4,4,4
Grass,10,10,10,10,10,10,10,10,10,10
Ground,4,4,4,0,4,4,4,4,4,4
Normal,15,15,15,11,15,15,15,15,15,15
Poison,12,12,12,4,12,12,12,12,12,12
Psychic,6,6,6,0,6,6,6,6,6,6
Rock,4,4,4,4,4,4,4,4,4,4
Water,20,20,20,8,20,20,20,20,20,20

In [28]:
#WRITING DATFRAME BACK INTO CSV 
df.to_csv("newmodified.csv")

In [32]:
#WE CAN LOAD EXCEL FILE ALSO
df=pd.read_excel("weatherdata.xlsx")

In [30]:
df

            Unnamed: 0   Unnamed: 1 Unnamed: 2 Unnamed: 3
0                  Day  TEMPERATURE  WINDSPEED      EVENT
1  2017-01-01 00:00:00           32          6       Rain
2  2017-04-01 00:00:00          NaN          9      Sunny
3  2017-05-01 00:00:00           28        NaN       Snow
4  2017-06-01 00:00:00          NaN          7        NaN
5  2017-07-01 00:00:00           32         32       Rain
6  2017-08-01 00:00:00          NaN        NaN      Sunny
7  2017-09-01 00:00:00          NaN        NaN        NaN
8  2017-10-01 00:00:00           34          8     Cloudy
9  2017-11-01 00:00:00           40         12      Sunny

In [ ]:
#to write back in excel use to_excel